@model GUN_RANGE_APP_V5.Models.ShooterListViewModel

<link rel="stylesheet" href="~/css/modal.css" asp-append-version="true" />

<table id="shooterData" class="table table-striped table-sm cell-border hover" style="width:100%; margin-right: 20px;">

    <thead>
        <tr>
            <th>Edit</th>
            <th>Name</th>
            <th>CID</th>
            <th>Team</th>
            <th>Division</th>
            <th>Gun Information</th>
            <th>Qualifications/Training</th>
            <th>Additional Training Type</th>
            <th>Additional Training Hours</th>
            <th>Retired</th>
            <th>Inactive</th>
            <th>Officer ID</th>
            <th>Issued Equipment</th>
            <th>Last Range Date</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var shooter in Model.Shooters)
        {
            <tr>

                <td><button class="edit-button" data-id="@shooter.Id">Edit</button></td>
                <td>@shooter.Name</td>
                <td>@shooter.CID</td>
                <td>@shooter.Team</td>
                <td>@shooter.Division</td>
                <td>@shooter.GunInformation</td>
                <td>@shooter.QualificationsTraining</td>
                <td>@shooter.AdditionalTrainingType</td>
                <td>@shooter.AdditionalTrainingHours</td>
                <td>@(shooter.IsRetired ? "Yes" : "No")</td>
                <td>@(shooter.IsActive ? "Yes" : "No")</td>
                <td>@shooter.OfficerId</td>
                <td>@shooter.IssuedEquipment</td>
                <td>@shooter.LastRangeDate</td>
                <input type="hidden" asp-for="@shooter.Id" />
            </tr>
        }
    </tbody>


    <tfoot>

        <tr>
            <th>Edit</th>

            <th>Name</th>
            <th>CID</th>
            <th>Team</th>
            <th>Division</th>
            <th>Gun Information</th>
            <th>Qualifications/Training</th>
            <th>Additional Training Type</th>
            <th>Additional Training Hours</th>
            <th>Retired</th>
            <th>Inactive</th>
            <th>Officer ID</th>
            <th>Issued Equipment</th>
            <th>Last Range Date</th>
        </tr>

    </tfoot>

</table>
<!-- Modal -->
<div id="editModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Shooter</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Your update form -->
                <div id="updateForm" class="row">
                    <input type="hidden" id="shooterId">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="shooterName">Name</label>
                            <input type="text" id="shooterName" class="form-control" placeholder="Name">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="shooterCID">CID</label>
                            <input type="text" id="shooterCID" class="form-control" placeholder="CID">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="shooterTeam">Team</label>
                            <input type="text" id="shooterTeam" class="form-control" placeholder="Team">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="shooterDivision">Division</label>
                            <input type="text" id="shooterDivision" class="form-control" placeholder="Division">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="shooterGunInformation">Gun Information</label>
                            <input type="text" id="shooterGunInformation" class="form-control" placeholder="Gun Information">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="shooterQualificationsTraining">Qualifications/Training</label>
                            <input type="text" id="shooterQualificationsTraining" class="form-control" placeholder="Qualifications/Training">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="shooterAdditionalTrainingType">Additional Training Type</label>
                            <input type="text" id="shooterAdditionalTrainingType" class="form-control" placeholder="Additional Training Type">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="shooterAdditionalTrainingHours">Additional Training Hours</label>
                            <input type="text" id="shooterAdditionalTrainingHours" class="form-control" placeholder="Additional Training Hours">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="shooterisRetired">Retired</label>
                            <input type="text" id="shooterisRetired" class="form-control" placeholder="Retired">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="shooterisActive">Inactive</label>
                            <input type="text" id="shooterisActive" class="form-control" placeholder="Inactive">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="shooterOfficerId">Officer ID</label>
                            <input type="text" id="shooterOfficerId" class="form-control" placeholder="Officer ID">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="shooterIssuedEquipment">Issued Equipment</label>
                            <input type="text" id="shooterIssuedEquipment" class="form-control" placeholder="Issued Equipment">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="shooterLastRangeDate">Last Range Date</label>
                            <input type="date" id="shooterLastRangeDate" class="form-control" placeholder="Last Range Date">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="updateButton" class="btn btn-primary">Update Shooter</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        console.log("ready!");
        var table = new DataTable('#shooterData');

    });
    // extra features below this line - - -
    $('#shooterData').DataTable({
        "scrollX": true,
        "scrollY": "500px",
        "scrollCollapse": true,
        "paging": false
    });

    $('.edit-button').on('click', function () {
        var shooterId = $(this).data('id');
        console.log("shooterId:", shooterId);
        $.ajax({
            url: '/home/GetShooter', // Update the URL according to your route
            type: 'GET',
            data: { id: shooterId },
            success: function (response) { 
                console.log(response);
                // Populate form fields with shooter data

                $('#shooterId').val(response.id);
            
                console.log(response.id);
                console.log($('#shooterId').val());
                $('#shooterName').val(response.name);
                $('#shooterCID').val(response.cid);
                $('#shooterTeam').val(response.team);
                $('#shooterDivision').val(response.division);
                $('#shooterGunInformation').val(response.gunInformation);
                $('#shooterQualificationsTraining').val(response.qualificationsTraining);
                $('#shooterAdditionalTrainingType').val(response.additionalTrainingType);
                $('#shooterAdditionalTrainingHours').val(response.additionalTrainingHours);
                $('#shooterisRetired').val(response.Retired);//not reading
                $('#shooterisActive').val(response.Inactive);//not reading
                $('#shooterOfficerId').val(response.officerId);
                $('#shooterIssuedEquipment').val(response.issuedEquipment);
                $('#shooterLastRangeDate').val(response.lastRangeDate);
                // Populate other fields similarly
            },
            error: function (xhr, status, error) {
                console.error(xhr.responseText);
            }
        });
        $('#editModal').show();
    });


    $('#updateButton').on('click', function () {
      

  
        var id = $('#shooterId').val(); // Include shooter ID for identification <hidden value>
        var name = $('#shooterName').val();
        var cid = $('#shooterCID').val();
        var team = $('#shooterTeam').val();
        var division = $('#shooterDivision').val();
        var guninformation = $('#shooterGunInformation').val();
        var qualificationstraining = $('#shooterQualificationsTraining').val();
        var additionaltrainingtype = $('#shooterAdditionalTrainingType').val();
        var additionaltraininghours = $('#shooterAdditionalTrainingHours').val();
        var retired = $('#shooterisRetired').val();
        var inactive = $('#shooterisActive').val();
        var officerid = $('#shooterOfficerId').val();
        var issuedequipment = $('#shooterIssuedEquipment').val();
        var lastrangedate = $('#shooterLastRangeDate').val();

            // Include other fields as needed
        
        //for debugging
        console.log('Values to update shooter:', {
            shooterId: id,
            name: name,
            cid: cid,
            team: team,
            division: division,
            guninformation: guninformation,
            qualificationstraining: qualificationstraining,
            additionaltrainingtype: additionaltrainingtype,
            additionaltraininghours: additionaltraininghours,
            retired: retired,
            inactive: inactive,
            officerid: officerid,
            issuedequipment: issuedequipment,
            lastrangedate: lastrangedate
        });

        $.ajax({
            url: '/home/UpdateShooter',
            type: 'POST',
            data: {
                shooterId: id,
                shooterName: name,
                shooterCID: cid,
                shooterTeam: team,
                shooterDivision: division,
                shooterGunInformation: guninformation,
                shooterQualificationsTraining: qualificationstraining,
                shooterAdditionalTrainingType: additionaltrainingtype,
                shooterAdditionalTrainingHours: additionaltraininghours,
                shooterisRetired: retired,
                shooterisActive: inactive,
                shooterOfficerId: officerid,
                shooterIssuedEquipment: issuedequipment,
                shooterLastDateRange: lastrangedate

            }, 
            success: function (response) {
                console.log(response);
                $('#editModal').hide();
                // Refresh the page or update the table if needed
            },
            error: function (xhr, status, error) {
                console.error(xhr.responseText);
            }
        });
    });

    // //----

// Get the modal
    var modal = document.getElementById('editModal');
 // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];     
// When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    };


        </script>
      
